//
// Custom overrides from a user.
//

// Add glow effect
body {
  //font-family: "Barlow", sans-serif;
  code {
    font-size: 1rem;
  }
  p {
    text-shadow: 0px 0px 8px rgba($color: #f27226, $alpha: 0.9);
  }
  h4,
  h5,
  h6 {
    color: white;
    font-size: 2rem;
  }
}
